* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: ;
  background-color: whitesmoke;
}

nav {
  width: 100%;
  height: 7rem;
  background-color: pink;
}

nav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
}

nav ul {
  width: 40%;
  height: 48%;
  margin: auto;
  /* background-color: red; */
  list-style-type: none;
  text-align: center;
}

nav li {
  padding: 0 1rem;
  margin: 1rem .5rem 0;
  /* background-color: green; */
  display: inline-block;
}

nav a {
  /* background-color: orange; */
  text-decoration: none;
  font-size: 2rem;
}

.slideshows {
  width: 100%;
  /* background-color: blue; */
}

#mainSlide {
  width: 50%;
  /* background-color: purple; */
  display: inline-block;
}

#mainSlide img {
  width: 100%;
}

#sideSlide {
  width: 49%;
  padding-top: 10%;
  /* background-color: brown; */
  display: inline-block;
}

#sideSlide img {
  width: 40%;
  margin: 1rem;
}

.dualImg {
  position: relative;
  bottom: 6rem;
  padding-left: 10%;
  /* background-color: white; */
}

#medPic {
  position: relative;
  bottom: 3rem;
  padding-left: 25%;
  /* background-color: yellow; */
}

#medPic img {
  width: 60%;
}

[data-component="mainSlideshow"] .mainSlides {
  display: none;
  text-align: center;
}

[data-component="mainSlideshow"] .mainSlides.active {
  display: block;
}